# Effects of Swing Counties in 2016 Elections

## Project Description:
   ### A WAY TO IDENTIFY THE EFFECT OF SWING COUNTIES IN PRESIDENTIAL ELECTIONS
   #### *IN COLLABORATION WITH DATAFORDEMOCRACY.ORG*

`1. Which Counties have most and least Partisan Stickiness (aka Swing Districts) ?
    a. How much did they comparatively change throughout the years?
    b. Which States contain the highest number of swing counties?
    c. Are there any similarities among these counties?`

`2. Did they change in last election and if they wouldn’t have would it have made a difference in outcome ?`

`3. Is there a correlation between visits/conferences/campaign stops/ spend/ media spots and the outcome in those districts`

In [9]:
import sys
import pandas as pd
import vincent #for mapping visualization
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 144
import datalab.context as _context

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
sys.executable

'/Library/Frameworks/Python.framework/Versions/3.5/bin/python3.5'

## LET'S DIVE IN..

`1. Which Counties have most and least Partisan Stickiness (aka Swing Districts) ?
    a. How much did they comparatively change throughout the years?`

In [102]:
#LOAD DATA (https://data.world/data4democracy/election-transparency)
#2016
df2016 = pd.read_csv('https://query.data.world/s/3vp5gmo3ug9x59wr47fx1gmub')
df2016['Year']='2016'
df2016['WinningParty']='REPUBLICAN'
%sql DROP TABLE IF EXISTS df2016
%sql PERSIST df2016
#2012
df2012 = pd.read_csv('https://query.data.world/s/dgltmuho22eu8rlkb9tbnn0dk')
df2012['Year']='2012'
df2012['WinningParty']='DEMOCRATIC'
%sql DROP TABLE IF EXISTS df2012
%sql PERSIST df2012
#2008
df2008 = pd.read_csv('https://query.data.world/s/c890wd2828mvhswdcbfaw5fck')
df2008['Year']='2008'
df2008['WinningParty']='DEMOCRATIC'
%sql DROP TABLE IF EXISTS df2008
%sql PERSIST df2008
#2004
df2004 = pd.read_csv('https://query.data.world/s/bevzm2zktuu4i23kfg0dfniac')
df2004['Year']='2004'
df2004['WinningParty']='REPUBLICAN'
%sql DROP TABLE IF EXISTS df2004
%sql PERSIST df2004
#2000
df2000 = pd.read_csv('https://query.data.world/s/7zmmyj85musifvi7oa078q6w7')
df2000['Year']='2000'
df2000['WinningParty']='REPUBLICAN'
%sql DROP TABLE IF EXISTS df2000
%sql PERSIST df2000
#1996
df1996 = pd.read_csv('https://query.data.world/s/1funavj5yumqy63sz64rx78oe')
df1996['Year']='1996'
df1996['WinningParty']='DEMOCRATIC'
%sql DROP TABLE IF EXISTS df1996
%sql PERSIST df1996
#1992
df1992 = pd.read_csv('https://query.data.world/s/edk3n1z5foyca07g7gsa1z8ku')
df1992['Year']='1992'
df1992['WinningParty']='DEMOCRATIC'
%sql DROP TABLE IF EXISTS df1992
%sql PERSIST df1992
#County Characteristics
dfCC = pd.read_csv('https://query.data.world/s/br37igl4j53pvkcg6ntvubokm')
%sql DROP TABLE IF EXISTS dfCC
%sql PERSIST dfCC
#Counties LAT & LONG (https://www.census.gov/geo/maps-data/data/gazetteer2015.html)
county_location = pd.read_csv('https://query.data.world/s/8r3fodml0wubcixinvro5z9qy',sep='\t')
%sql DROP TABLE IF EXISTS county_location
%sql PERSIST county_location

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

'Persisted county_location'

In [103]:
county_location.head()

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001,161526,Autauga County,1539589643,25769317,594.439,9.950,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4117584013,1133129224,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2291820706,50864677,884.877,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1612481559,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1670041875,15077458,644.807,5.821,33.977358,-86.566440

In [122]:
#dfCC.head()
#df2016.head()
#len(df2016.index)+ len(df2012.index) + len(df2008.index)+len(df2000.index)+len(df1996.index)+len(df1992.index)
#df2012.count()
df1996.head()
#dfall= pd.concat([df2016, df2012, df2008, df2004, df2000, df1996, df1992], ignore_index=True)
#dfall.head()
#dfall[dfall['Year']=='2012'].count()
#%sql DROP TABLE IF EXISTS dfall
#%sql PERSIST dfall

,County,CountyName,clinton,dole,other,perot,totalvotes,dPct,rPct,otherPct,dDRPct,rDRPct,leanD,leanR,Year,WinningParty
0,1001,Autauga,5015,9509,85,813,15422,0.325185,0.616587,0.005512,0.345291,0.654709,0.527395,1.896112,1996,DEMOCRATIC
1,1003,Baldwin,12776,29487,336,4520,47119,0.271143,0.625799,0.007131,0.302298,0.697702,0.433276,2.307999,1996,DEMOCRATIC
2,1005,Barbour,4787,3627,24,515,8953,0.534681,0.405116,0.002681,0.568933,0.431067,1.319824,0.757677,1996,DEMOCRATIC
3,1007,Bibb,2775,3037,34,455,6301,0.440406,0.481987,0.005396,0.477460,0.522540,0.913731,1.094414,1996,DEMOCRATIC
4,1009,Blount,5061,9056,225,985,15327,0.330202,0.590853,0.014680,0.358504,0.641496,0.558856,1.789370,1996,DEMOCRATIC

In [123]:
%sql DROP TABLE IF EXISTS temp_county_results

Done.

Empty DataFrame
Columns: []
Index: []

In [125]:
%%sql sqlite://
    CREATE TABLE temp_county_results AS
        SELECT distinct County, CountyName, StateAbbr, Year, WinningParty,totalvotes ,
        CASE WHEN clinton>trump then 'DEMOCRAIC' WHEN clinton<trump then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df2016
        UNION ALL
        SELECT distinct County, CountyName, StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN obama>romney then 'DEMOCRAIC' WHEN obama<romney then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df2012
        UNION ALL
        SELECT distinct County, CountyName, StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN obama>mccain then 'DEMOCRAIC' WHEN obama<mccain then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df2008
        UNION ALL
        SELECT distinct County, CountyName, StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN kerry>bush then 'DEMOCRAIC' WHEN kerry<bush then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df2004
        UNION ALL
        SELECT distinct County, CountyName, StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN gore>bush then 'DEMOCRAIC' WHEN gore<bush then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df2000
        UNION ALL
        SELECT distinct df1996.County, CountyName, StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN clinton>dole then 'DEMOCRAIC' WHEN clinton<dole then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df1996
        join (select distinct County, StateAbbr from df2016)state on state.County=df1996.County
        UNION ALL
        SELECT distinct df1992.County, CountyName, state.StateAbbr,Year, WinningParty, totalvotes,
        CASE WHEN clinton>bush then 'DEMOCRAIC' WHEN clinton<bush then 'REPUBLICAN' ELSE 'OTHER' END as `WinningCounty`
        FROM df1992
        join (select distinct County, StateAbbr from df2016)state on state.County=df1992.County

Done.

Empty DataFrame
Columns: []
Index: []

In [126]:
%sql DROP TABLE IF EXISTS county_results

Done.

Empty DataFrame
Columns: []
Index: []

In [127]:
%%sql sqlite://
    CREATE TABLE county_results AS
    SELECT County, CountyName, StateAbbr,
    totalvotes_2016,
    totalvotes_2012,
    totalvotes_2008,
    totalvotes_2004,
    totalvotes_2000,
    totalvotes_1996,
    totalvotes_1992,
    WinningCounty_2016,
    WinningParty_2016,
    WinningCounty_2012,
    WinningParty_2012,
    WinningCounty_2008,
    WinningParty_2008,
    WinningCounty_2004,
    WinningParty_2004,
    WinningCounty_2000,
    WinningParty_2000,
    WinningCounty_1996,
    WinningParty_1996,
    WinningCounty_1992,
    WinningParty_1992,
   (CASE WHEN WinningCounty_2016 != WinningCounty_2012 THEN 1 ELSE 0 END) +(CASE WHEN WinningCounty_2012 != WinningCounty_2008 THEN 1 ELSE 0 END) + (CASE WHEN WinningCounty_2008 != WinningCounty_2004 THEN 1 ELSE 0 END) + (CASE WHEN WinningCounty_2004 != WinningCounty_2000 THEN 1 ELSE 0 END) + (CASE WHEN WinningCounty_2000 != WinningCounty_1996 THEN 1 ELSE 0 END) + (CASE WHEN WinningCounty_1996 != WinningCounty_1992 THEN 1 ELSE 0 END) as durability
    FROM (
        SELECT County, Max(CountyName) as CountyName, StateAbbr, 
        MAX(CASE WHEN Year ='2016' THEN totalvotes END) as totalvotes_2016,
        MAX(CASE WHEN Year ='2012' THEN totalvotes END) as totalvotes_2012,
        MAX(CASE WHEN Year ='2008' THEN totalvotes END) as totalvotes_2008,
        MAX(CASE WHEN Year ='2004' THEN totalvotes END) as totalvotes_2004,
        MAX(CASE WHEN Year ='2000' THEN totalvotes END) as totalvotes_2000,
        MAX(CASE WHEN Year ='1996' THEN totalvotes END) as totalvotes_1996,
        MAX(CASE WHEN Year ='1992' THEN totalvotes END) as totalvotes_1992,
        
        MAX(CASE WHEN Year ='2016' THEN WinningCounty END) as WinningCounty_2016,
        MAX(CASE WHEN Year ='2016' THEN WinningParty END) as WinningParty_2016,
        MAX(CASE WHEN Year ='2012' THEN WinningCounty END) as WinningCounty_2012,
        MAX(CASE WHEN Year ='2012' THEN WinningParty END) as WinningParty_2012,
        MAX(CASE WHEN Year ='2008' THEN WinningCounty END) as WinningCounty_2008,
        MAX(CASE WHEN Year ='2008' THEN WinningParty END) as WinningParty_2008,
        MAX(CASE WHEN Year ='2004' THEN WinningCounty END) as WinningCounty_2004,
        MAX(CASE WHEN Year ='2004' THEN WinningParty END) as WinningParty_2004,
        MAX(CASE WHEN Year ='2000' THEN WinningCounty END) as WinningCounty_2000,
        MAX(CASE WHEN Year ='2000' THEN WinningParty END) as WinningParty_2000,
        MAX(CASE WHEN Year ='1996' THEN WinningCounty END) as WinningCounty_1996,
        MAX(CASE WHEN Year ='1996' THEN WinningParty END) as WinningParty_1996,
        MAX(CASE WHEN Year ='1992' THEN WinningCounty END) as WinningCounty_1992,
        MAX(CASE WHEN Year ='1992' THEN WinningParty END) as WinningParty_1992
        FROM temp_county_results
        GROUP BY County, StateAbbr
        ORDER BY County)

   
    
    ORDER BY durability DESC

Done.

Empty DataFrame
Columns: []
Index: []

In [129]:
%sql Select * from county_results a left outer join county_location l on l.geoid = a.County order by County
%config SqlMagic.autopandas=True
frame = %sql Select * from county_results a left outer join county_location l on l.geoid = a.County order by County
frame.head()
#frame.to_csv('countyForMapping.txt',sep='\t')
##CREATED CARTO DB MAP

Done.
Done.

,County,CountyName,StateAbbr,totalvotes_2016,totalvotes_2012,totalvotes_2008,totalvotes_2004,totalvotes_2000,totalvotes_1996,totalvotes_1992,...,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,None,Federal Overseas County,HI,NaN,NaN,NaN,NaN,80.0,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,Autauga County,AL,24973.0,23937.0,23641.0,20081.0,17146.0,15422.0,15585.0,...,AL,1001.0,161526.0,Autauga County,1.539590e+09,2.576932e+07,594.439,9.950,32.532237,-86.646440
2,1003,Baldwin County,AL,95215.0,85353.5,81413.0,69320.0,56128.0,47119.0,46476.0,...,AL,1003.0,161527.0,Baldwin County,4.117584e+09,1.133129e+09,1589.808,437.504,30.659218,-87.746067
3,1005,Barbour County,AL,10469.0,11508.5,11630.0,10777.0,10357.0,8953.0,10431.0,...,AL,1005.0,161528.0,Barbour County,2.291821e+09,5.086468e+07,884.877,19.639,31.870253,-85.405104
4,1007,Bibb County,AL,8819.0,8400.5,8644.0,7600.0,7055.0,6301.0,6720.0,...,AL,1007.0,161529.0,Bibb County,1.612482e+09,9.287974e+06,622.583,3.586,33.015893,-87.127148

In [154]:
#STATES WITH MOST SWING COUNTIES
%sql Select StateAbbr, sum(counties) as counties, sum(totalvotes_2016) as totalvotes_2016, sum(total_votes_no) as total_votes_no, sum(score) as score from (Select StateAbbr,  count(distinct County) as counties, sum(totalvotes_2016) as totalvotes_2016, total_votes.no as total_votes_no, cast(durability as float) *(cast(totalvotes_2016 as float)/cast(total_votes.no as float)) as score from county_results,(select sum(totalvotes_2016) as no from county_results)total_votes  group by StateAbbr, durability,total_votes.no order by score desc) group by  StateAbbr order by score desc  limit 20

Done.

   StateAbbr  counties  totalvotes_2016  total_votes_no     score
0         NC       100          4741528       682803525  0.019066
1         FL        67          9420039       546242820  0.012952
2         UT        29          1131430       682803525  0.010335
3         NH        10           732267       546242820  0.006160
4         NJ        21          3874046       546242820  0.006032
5         CA        58         14181595       546242820  0.005463
6         OR        36          2001336       682803525  0.004401
7         IN        92          2734958       682803525  0.004135
8         WA        39          3209214       682803525  0.003829
9         DE         3           441590       409682115  0.003725
10        CT         8          1644920       409682115  0.003226
11        MI        83          4799284       682803525  0.003187
12        MN        87          2944813       682803525  0.003049
13        OH        88          5496487       682803525  0.002626
14        PA        67          6115402       546242820  0.002571
15        IL       102          5536424       682803525  0.002464
16        NY        62          7786864       682803525  0.001835
17        WI        72          2949311       682803525  0.001790
18        IA        99          1581371       682803525  0.001754
19        LA        64          2029032       409682115  0.001643

In [135]:
#STATES WITH LEAST SWING COUNTIES
%sql Select StateAbbr, durability, count(distinct County) as counties from county_results group by StateAbbr, durability order by  counties ASC limit 10

Done.

  StateAbbr  durability  counties
0        AK           2         1
1        AR           2         1
2        CT           4         1
3        DC           0         1
4        DE           0         1
5        DE           2         1
6        DE           4         1
7        GA           4         1
8        KS           4         1
9        KY           2         1

In [ ]:
#SAME BUT ADD VOTES as WEIGHT per COUNTY

In [64]:

frame.count()

County           21760
CountyName       21761
StateAbbr        21761
Year             21761
WinningParty     21761
WinningCounty    21761
dtype: int64

In [ ]:
#LINEAR REGRESSION ON CHARACTERISTICS
#left outer join dfCC on dfCC.County = a.County